RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\.finanssia\.com$ [NC]
RewriteRule ^ https://www.finanssia.com%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html[\s?] [NC]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]

RewriteRule ^testimonials/?$ /avis-clients/ [R=301,L]
RewriteRule ^recrutement(/.*)?$ - [G,L]
